.timesheet-day-wrapper {
    position: relative;
    width: inherit;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    .weekdays-header {
        height: 50px;

        .btn-weekday {
            width: 12.5%;
            border-radius: 0;
            font-size: 14px;
            height: 100% !important;
            line-height: 1.2;
            padding: 8px 15px !important;
            justify-content: flex-start;
            color: #626262;

            &.selected {

            }

            .label-wrapper {
                text-align: left;
                color: #626262;

                &.total-wrapper {
                    display: inherit;

                    .time {
                        font-weight: 600;
                    }
                }

                .label {

                }

                .time {

                }
            }
        }
    }

    .day-view-entry-list {
        margin: 15px 0;
        color: #222;

        .day-view-entry-item {
            border-bottom: 1px solid grey;

            .day-entry-label-wrapper {
                text-align: left;
                margin-bottom: 5px;

                .project-client {
                    overflow: hidden;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .project {
                        font-weight: 600;
                        margin-right: 3px;
                    }

                    .client {

                    }
                }

                .task-notes {
                    overflow: hidden;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #888;

                    .task {
                        color: #626262;
                    }
                }
            }
        }

        .entry-time {
            font-size: 20px;
            font-weight: 500;
            text-align: right;
            vertical-align: middle;
        }

        .btn-action {
            font-size: 16px;
            height: 38px;
            width: 100%;
        }

        .btn-edit {

        }

    }

    .day-view-summary {
        color: #888;
        font-size: 20px;

        .label {
            text-align: right;
        }
        .time {
            color: #222;
            font-weight: 500;
        }
    }

    .btn-add-entry {
        font-size: 12px;
        font-weight: 500;
        margin-left: -85px;
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;

        background-color: #fff !important;
        box-shadow: none !important;
        cursor: pointer;

        :hover {
            .btn-icon {
                background: linear-gradient(#139b00, #177f07);
            }

            .btn-text {
                color: #626262;
            }
        }

        .btn-icon {
            background: linear-gradient(#14a000, #1a8d08);
            border-radius: 3px;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
        }

        .btn-text {
            font-size: 10px;
            color: #888;

        }
    }
}

