.time-sheets-header-wrapper {
    margin-bottom: 20px;
    width: inherit;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    .left-side-wrapper {
        .pagination {
            margin-right: 4px;
            display: inline;

            .btn-prev {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

            .btn-next {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }

        .date {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            vertical-align: middle;
            font-size: 26px;
            margin-right: 4px;
            .hint {
                font-weight: bold;
            }
        }

        .back-to-today {
            color: #116ab0;
            text-decoration: underline;
            background: transparent;
            border: 0;
            padding: 0;
            vertical-align: middle !important;
            cursor: pointer;
            font-size: 13px;
        }
    }

    .right-side-wrapper {
        .btn-type-wrapper {
            margin-right: 10px;
            display: inline;
            .btn {
                &.btn-day {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                }

                &.btn-week {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }
            }
        }
    }
}


